.SidebarMain {
  border: 1px solid #000;
  padding: 0 15px;
  height: 80vh;
}

.SidebarMain h2 {
  margin-top: 15px;
}

.SidebarMain ul {
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 768px) {
  .SidebarMain {
    margin: 1rem auto;
    height: 150px;
  }

  .SidebarMain ul {
    display: flex;
  }
}
